<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Payroll_app.Properties.Settings.PAYROLLConnectionString"
   connectionString="Data Source=birukGetachew\SQLEXPRESS;Initial Catalog=PAYROLL;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="Payroll_Management.Properties.Settings.PAYROLLConnectionString"
   connectionString="Data Source=birukGetachew\SQLEXPRESS;Initial Catalog=PAYROLL;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>